# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
.venv/
env/

# VS Code
.vscode/

# SQLite
*.db
*.sqlite
*.sqlite3

# Uploads
uploads/

# Environment variables
.env

# pytest
.pytest_cache/
htmlcov/
.coverage
